In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
global_sales = pd.read_csv(r"C:\Users\thang\OneDrive\Documents\Guvi\Course Project\Dataspark Project02\Dataspark dataset\sales.csv")

In [3]:
global_sales.shape

(62884, 9)

In [4]:
global_sales.columns

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code'],
      dtype='object')

In [5]:
global_sales.values

array([[366000, 1, '01-01-2016', ..., 1304, 1, 'CAD'],
       [366001, 1, '01-01-2016', ..., 1048, 2, 'USD'],
       [366001, 2, '01-01-2016', ..., 2007, 1, 'USD'],
       ...,
       [2243032, 1, '2/20/2021', ..., 1613, 2, 'CAD'],
       [2243032, 2, '2/20/2021', ..., 1717, 2, 'CAD'],
       [2243032, 3, '2/20/2021', ..., 464, 7, 'CAD']], dtype=object)

In [6]:
global_sales.dtypes

Order Number      int64
Line Item         int64
Order Date       object
Delivery Date    object
CustomerKey       int64
StoreKey          int64
ProductKey        int64
Quantity          int64
Currency Code    object
dtype: object

In [7]:
global_sales['Order Date'].shape

(62884,)

In [8]:
global_sales['Delivery Date'].shape

(62884,)

In [9]:
global_sales['Order Date'] = pd.to_datetime(global_sales['Order Date'],dayfirst=True,errors='coerce')
global_sales['Delivery Date'] = pd.to_datetime(global_sales['Order Date'],dayfirst=True,errors='coerce')

In [10]:
global_sales.dtypes

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
Delivery Date    datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code            object
dtype: object

In [11]:
global_sales.isnull().sum()

Order Number         0
Line Item            0
Order Date       38540
Delivery Date    38540
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [12]:
global_sales.dropna(inplace=True)

In [13]:
global_sales.isnull().sum()

Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [14]:
global_sales.shape

(24344, 9)

In [15]:
global_products = pd.read_csv(r"C:\Users\thang\OneDrive\Documents\Guvi\Course Project\Dataspark Project02\Dataspark dataset\Products.csv")

In [16]:
global_products.shape

(2517, 10)

In [17]:
global_products.columns

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [18]:
global_products.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

In [19]:
global_products.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [20]:
global_products.head(10)

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
5,6,Contoso 2G MP3 Player E200 Black,Contoso,Black,$11.00,$21.57,101,MP4&MP3,1,Audio
6,7,Contoso 2G MP3 Player E200 Blue,Contoso,Blue,$11.00,$21.57,101,MP4&MP3,1,Audio
7,8,Contoso 4G MP3 Player E400 Silver,Contoso,Silver,$30.58,$59.99,101,MP4&MP3,1,Audio
8,9,Contoso 4G MP3 Player E400 Black,Contoso,Black,$30.58,$59.99,101,MP4&MP3,1,Audio
9,10,Contoso 4G MP3 Player E400 Green,Contoso,Green,$30.58,$59.99,101,MP4&MP3,1,Audio

In [21]:
#global_products['Unit Cost USD'] = global_products['Unit Cost USD'].replace({'$': '', ',': ''}).asnumerical()
#global_products['Unit Price USD'].replace({'$': '', ',': ''}, regex=True).astype(float)
##non_numeric[non_numeric.isna()]
#global_products['Unit Price USD'] = pd.to_numeric(global_products['Unit Price USD'].replace({'$': '', ',': ''}, regex=True), errors='coerce').fillna(0)

In [22]:
#df['col'] = pd.to_numeric(df['col'], errors='coerce') 
#global_products['Unit Price USD'] = pd.to_numeric(global_products['Unit Price USD'], error='coerce')

In [23]:
# global_products['Unit Cost USD'] = global_products['Unit Cost USD'].replace({'$': '', ',': ''}, regex=True).astype(float)
# global_products['Unit Price USD'] = global_products['Unit Price USD'].replace({'$': '', ',': ''}, regex=True).astype(float)

In [24]:
global_products.tail(10)

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
2507,2508,Contoso Rubberized Snap-On Cover Hard Case Cel...,Contoso,Silver,$2.42,$4.74,505,Cell phones Accessories,5,Cell phones
2508,2509,Contoso Original K1m Li-Ion Standard Battery E...,Contoso,Black,$2.07,$4.06,505,Cell phones Accessories,5,Cell phones
2509,2510,Contoso Original K1m Li-Ion Standard Battery E...,Contoso,White,$2.07,$4.06,505,Cell phones Accessories,5,Cell phones
2510,2511,Contoso Original K1m Li-Ion Standard Battery E...,Contoso,Silver,$2.07,$4.06,505,Cell phones Accessories,5,Cell phones
2511,2512,Contoso Bluetooth Active Headphones L15 Black,Contoso,Black,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones

In [25]:
product_unique_Category = global_products['Category'].unique()
product_unique_Subcategory = global_products['Subcategory'].unique()

In [26]:
print('product_unique_Category:', product_unique_Category.shape)
print('product_unique_Subcategory:', product_unique_Subcategory.shape)

product_unique_Category: (8,)
product_unique_Subcategory: (32,)

In [27]:
global_Stores = pd.read_csv(r"C:\Users\thang\OneDrive\Documents\Guvi\Course Project\Dataspark Project02\Dataspark dataset\Stores.csv")

In [28]:
global_Stores.shape

(67, 5)

In [29]:

global_Stores.columns

Index(['StoreKey', 'Country', 'State', 'Square Meters', 'Open Date'], dtype='object')

In [30]:

global_Stores.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [31]:
global_Stores.dropna(inplace=True)

In [32]:
global_Stores.shape

(66, 5)

In [33]:
global_customers = pd.read_csv(r"C:\Users\thang\OneDrive\Documents\Guvi\Course Project\Dataspark Project02\Dataspark dataset\Customers.csv", encoding='latin1' )

In [34]:
global_customers.shape

(15266, 10)

In [35]:
global_customers.isnull().sum()

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [36]:
global_customers.dropna(inplace=True)

In [37]:
global_customers.shape

(15256, 10)

In [38]:
global_customers.isnull().sum()

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [39]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thang\anaconda3\lib\site-packages (9.0.0)Note: you may need to restart the kernel to use updated packages.

In [40]:
import mysql.connector

In [41]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456789',
    database='ds_projects'
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

In [42]:
global_sales_analytics = global_sales.drop('Line Item', axis =1)

In [43]:
global_sales_analytics.head(10)

,Order Number,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,2016-01-01,2016-01-01,265598,10,1304,1,CAD
1,366001,2016-01-01,2016-01-01,1269051,0,1048,2,USD
2,366001,2016-01-01,2016-01-01,1269051,0,2007,1,USD
3,366002,2016-01-01,2016-01-01,266019,0,1106,7,CAD
4,366002,2016-01-01,2016-01-01,266019,0,373,1,CAD
5,366002,2016-01-01,2016-01-01,266019,0,1080,4,CAD
6,366004,2016-01-01,2016-01-01,1107461,38,163,6,GBP
7,366004,2016-01-01,2016-01-01,1107461,38,1529,2,GBP
8,366005,2016-01-01,2016-01-01,844003,33,421,4,EUR
9,366007,2016-01-01,2016-01-01,2035771,43,1617,1,USD

In [44]:
global_sales_analytics['Order Number'].drop_duplicates(inplace=True)

In [45]:
global_sales_analytics.shape

(24344, 8)

In [46]:
global_products_analytics = global_products.drop(['Unit Cost USD','SubcategoryKey','CategoryKey'], axis =1)

In [47]:
global_products_analytics.tail(10)

,ProductKey,Product Name,Brand,Color,Unit Price USD,Subcategory,Category
2507,2508,Contoso Rubberized Snap-On Cover Hard Case Cel...,Contoso,Silver,$4.74,Cell phones Accessories,Cell phones
2508,2509,Contoso Original K1m Li-Ion Standard Battery E...,Contoso,Black,$4.06,Cell phones Accessories,Cell phones
2509,2510,Contoso Original K1m Li-Ion Standard Battery E...,Contoso,White,$4.06,Cell phones Accessories,Cell phones
2510,2511,Contoso Original K1m Li-Ion Standard Battery E...,Contoso,Silver,$4.06,Cell phones Accessories,Cell phones
2511,2512,Contoso Bluetooth Active Headphones L15 Black,Contoso,Black,$129.99,Cell phones Accessories,Cell phones
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$129.99,Cell phones Accessories,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$129.99,Cell phones Accessories,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$3.35,Cell phones Accessories,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$3.35,Cell phones Accessories,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$3.35,Cell phones Accessories,Cell phones

In [61]:
global_products_analytics['Unit Price USD'] = global_products_analytics['Unit Price USD'].astype(str).replace({'$': '', ',': ''}, regex=True).astype(float)

In [63]:
global_products_analytics.head(10)

,ProductKey,Product Name,Brand,Color,Unit Price USD,Subcategory,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,12.99,MP4&MP3,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,12.99,MP4&MP3,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,14.52,MP4&MP3,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,21.57,MP4&MP3,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,21.57,MP4&MP3,Audio
5,6,Contoso 2G MP3 Player E200 Black,Contoso,Black,21.57,MP4&MP3,Audio
6,7,Contoso 2G MP3 Player E200 Blue,Contoso,Blue,21.57,MP4&MP3,Audio
7,8,Contoso 4G MP3 Player E400 Silver,Contoso,Silver,59.99,MP4&MP3,Audio
8,9,Contoso 4G MP3 Player E400 Black,Contoso,Black,59.99,MP4&MP3,Audio
9,10,Contoso 4G MP3 Player E400 Green,Contoso,Green,59.99,MP4&MP3,Audio

In [69]:
global_products_analytics.drop_duplicates(inplace=True)

In [71]:
global_customers_analytics = global_customers.drop(['State Code','Zip Code','Birthday', 'Name', 'Continent'], axis =1)

In [73]:
global_customers_analytics.head(10)

   CustomerKey  Gender            City               State    Country
0          301  Female  WANDEARAH EAST     South Australia  Australia
1          325  Female      MOUNT BUDD   Western Australia  Australia
2          554  Female       WINJALLOK            Victoria  Australia
3          786    Male    MIDDLE RIVER     South Australia  Australia
4         1042    Male   TAWONGA SOUTH            Victoria  Australia
5         1086    Male        TEMPLERS     South Australia  Australia
6         1133    Male  JUBILEE POCKET          Queensland  Australia
7         1256    Male        KULLOGUM          Queensland  Australia
8         1314    Male     EDITH RIVER  Northern Territory  Australia
9         1568    Male           KOTTA            Victoria  Australia

In [75]:
global_customers_analytics.drop_duplicates(inplace=True)

In [77]:
global_customers_analytics['Country'].unique().sum()

'AustraliaCanadaGermanyFranceItalyNetherlandsUnited KingdomUnited States'

In [79]:
global_stores_analytics = global_Stores.drop(['Square Meters','Open Date'], axis =1)

In [81]:
global_stores_analytics.head(10)

   StoreKey    Country                         State
0         1  Australia  Australian Capital Territory
1         2  Australia            Northern Territory
2         3  Australia               South Australia
3         4  Australia                      Tasmania
4         5  Australia                      Victoria
5         6  Australia             Western Australia
6         7     Canada                 New Brunswick
7         8     Canada     Newfoundland and Labrador
8         9     Canada         Northwest Territories
9        10     Canada                       Nunavut

In [83]:
global_stores_analytics.drop_duplicates(inplace=True)

In [85]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thang\anaconda3\lib\site-packages (9.0.0)

In [87]:
import mysql.connector

In [89]:
# Step 1: Establish a connection to MySQL
conn = mysql.connector.connect(
    host='localhost',       # or your MySQL server IP
    user='root',   # your MySQL username
    password='123456789',  # your MySQL password
    database='ds_projects'  # your MySQL database
)

# Step 2: Create a cursor object
cursor = conn.cursor()

# Step 3: Convert DataFrame to SQL INSERT statements
for i, row in global_stores_analytics.iterrows():
    sql = "INSERT INTO global_stores (StoreKey,	Country, State) VALUES (%s, %s, %s)"
    cursor.execute(sql, tuple(row))

# Step 4: Commit and close the connection
conn.commit()
cursor.close()
conn.close()

In [91]:

conn = mysql.connector.connect(
    host='localhost',       # or your MySQL server IP
    user='root',   # your MySQL username
    password='123456789',  # your MySQL password
    database='ds_projects'  # your MySQL database
)

cursor = conn.cursor()

for i, row in global_customers_analytics.iterrows():
    sql = "INSERT INTO global_customers (CustomerKey,Gender,City,State,Country) VALUES (%s, %s, %s, %s, %s)"
    cursor.execute(sql, tuple(row))

conn.commit()
cursor.close()
conn.close()

In [93]:
conn = mysql.connector.connect(
    host='localhost',       # or your MySQL server IP
    user='root',   # your MySQL username
    password='123456789',  # your MySQL password
    database='ds_projects'  # your MySQL database
)

cursor = conn.cursor()

for i, row in global_products_analytics.iterrows():
    sql = "INSERT INTO global_products (ProductKey,Product_Name,Brand,Color,Unit_Price_USD,Subcategory,Category) VALUES (%s, %s, %s, %s, %s,%s, %s)"
    cursor.execute(sql, tuple(row))

conn.commit()
cursor.close()
conn.close()

In [57]:
conn = mysql.connector.connect(
    host='localhost',       # or your MySQL server IP
    user='root',   # your MySQL username
    password='123456789',  # your MySQL password
    database='ds_projects'  # your MySQL database
)

cursor = conn.cursor()

for i, row in global_sales_analytics.iterrows():
    sql = "INSERT INTO global_sales (Order_Number, Order_Date, Delivery_Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency_Code) VALUES (%s, %s, %s, %s, %s,%s, %s,%s)"
    cursor.execute(sql, tuple(row))

conn.commit()
cursor.close()
conn.close()